@model int
@{
    ViewData["Title"] = "DeleteQuestionForm";
}





<h1>Delete: Are you sure the question? </h1>
You are about to delete this question.

<a href="/qanda/index"> No. Cancel!</a>
<br />
<a href="/qanda/deletequestion/@Model">Yes! Delete!</a>
