@model int
@{
    ViewData["Title"] = "DeleteAnswerForm";
}

<h1>DeleteAnswerForm</h1>

<h1>Delete: Are you sure? </h1>
You are about to delete this answer.

<a href="/qanda/index"> No. Cancel!</a>
<br />
<a href="/qanda/deleteanswer/@Model">Yes! Delete!</a>
