@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Slack OverLoad</h1>


</div>

<div class="text2-center">

    <h3> An easier way to get your questions answered!</h3>

</div>

@*<h2>Please Login:</h2>*@

@*<form method="post" action="/home/login">

    Username: <input type="text" name="username" /><br />
    <input type="submit" />
</form>*@

<body style=" background-color:aquamarine;">


</body>



<img src="~/image/programlanguages.jpeg" width="700" height="500" class="center" />



<style>

    .text-center {
        font-family: 'Bodoni MT';
        color: darkslateblue;
        font-size: 70px;
    }

    .text2-center {
        font-family: 'Bodoni MT';
        color: darkgoldenrod;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>