
@{
    ViewData["Title"] = "LoginForm";
}

<h2>Please Login</h2>

<form method="post" action="/home/login">
    <fieldset>

        <div class="form-group">
            UserName: <input class="form-control" type="text" name="username" />

        </div>



    </fieldset>

    <input type="submit" />
</form>

<body style=" background-color:aquamarine;">


</body>
